#wrapper{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

#zoom{
    padding: .4rem;
    margin: 0.2em;
    display: inline-flex;
    color: black;
    min-width: 2em;
    flex-flow: row nowrap;
    align-items: center;
}

#zoom button{
    color:white;
    background-color:darkslategrey;
    border-radius:0.5em;
    font-weight:bold;
}